import css from "@salesforce-ux/design-system/assets/styles/salesforce-lightning-design-system.css";

<lds-input label="Error Field" value="Guru" errorMessage="Important field"/>
<lds-input label="Error Field" value="Guru" errorMessage="Important field" hasIcon=true/>
<lds-input label="Required Field" value="Arun" required=true/>
<lds-input label="Disabled Field" value="Chitra" disabled=true/>
<lds-input label="Empty Field" value="" placeholder="Placeholder Text"/>
